<div class="ask-title">
  <img src="/newimages/askssss@2x.png" alt="頼みごと" width="359px" height="400px">
</div>


<dis class="ask">
  <%= link_to gaide1_index_path ,class: 'takebuttonhidden' do %>
    <%= image_tag "/newimages/askok@3x.png",:size =>"210x72" %>
  <% end %>
</dis>