

<div class="log-title">
  <img src="/newimages/new-sended@3x.png" alt="私とあなたの匿名文通" width="278px" height="42px">
</div>

<div class="log-image">
  <img src="/newimages/new-sended-newimage@2x.png" alt="私とあなたの匿名文通" width="284px" height="168px">
</div>
  
<div class="toppage">
  <%= link_to response_path(current_user) ,class: 'takebuttonhidden' do %>
  <!--自分の文通箱にいく-->
    <%= image_tag "/newimages/new-box-button@2x.png",:size =>"281x62" %>
  <% end %>
</div>