<div class="backbutton">
  <%= link_to takeletters_path ,class: 'takebuttonhidden' do %>
    <%= image_tag "/newimages/backbutton@2x.png",:size =>"19x33" %>
  <% end %>
</div>

<% if @recom.text == "あなたにとっての恋愛とは？" %>

<div class="log-title">
  <img src="/newimages/not-koi.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @recom.text == "食べたい悪魔の実は？" %>

<div class="log-title">
  <img src="/newimages/not-food.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @recom.text == "もしも願いが1つ叶うなら？" %>

<div class="log-title">
  <img src="/newimages/not-want.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @recom.text == "恋人に束縛されたい？" %>

<div class="log-title">
  <img src="/newimages/not-sokubaku.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @recom.text == "1週間後に世界が終わります、何をしますか？" %>

<div class="log-title">
  <img src="/newimages/not-over.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @recom.text == "片思いの相手にどう接しますか？" %>

<div class="log-title">
  <img src="/newimages/not-kataomoi.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @recom.text == "あなたにとってのいい男の条件は？" %>

<div class="log-title">
  <img src="/newimages/not-coolgay.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @recom.text == "初恋の思い出を語ってください" %>

<div class="log-title">
  <img src="/newimages/not-hatukoi.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @recom.text == "子どもの頃の夢は？" %>

<div class="log-title">
  <img src="/newimages/not-dream.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @recom.text == "思わずドキってしてしまう異性の仕草は？" %>

<div class="log-title">
  <img src="/newimages/not-doki.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @recom.text == "１番の自慢をしてください" %>

  <div class="log-title">
    <img src="/newimages/not-best.png" alt="送信する質問を選択してください" width="346px" height="156px">
  </div>

<% elsif @recom.text == "人生において最も必要なものは？" %>

<div class="log-title">
  <img src="/newimages/not-life.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @recom.text == "日常のささやかん幸せはどんなこと？" %>

<div class="log-title">
  <img src="/newimages/not-siawase.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% end %>




