<script>
$(document).ready(function(){
  reset4();
});
</script>


<div class="usetitle">
   <img src="images/use@2x.png" alt="オオカミloveletterの使い方" width="252px" height="18px">
</div>


<div class="usebutton">
  <button class="usesend" onclick="send()">
    <img src="images/senduser@2x.png" alt="送り方" width="152px" height="85px">
  </button>
  <button class="usertake" onclick="take()">
    <img src="images/takeuser@2x.png" alt="受け取り方" width="152px" height="85px">
  </button>
</div>



<div class="sendgaide">
  <!--画像を差し替える-->
</div>
<div class="takegaide">
  <!--画像を差し替える-->
</div>



<div class="PRimage">
  <!--画像を差し替える-->
</div>