<script>
$(document).ready(function(){
  reset4();
});
</script>


<div class="usetitle">
   <img src="images/use@2x.png" alt="オオカミloveletterの使い方" width="252px" height="18px">
</div>


<div class="usebutton">
  <%= image_submit_tag("senduser@2x.png", class: 'usesend', onclick: "send()" )%>
  <%= image_submit_tag("takeuser@2x.png", class: 'usertake', onclick: "take()" )%>
</div>



<div class="sendgaide">
  <!--画像を差し替える-->
</div>
<div class="takegaide">
  <!--画像を差し替える-->
</div>



<div class="PRimage">
  <!--画像を差し替える-->
</div>