<div class="truelogo">
  <img src="/images/trueletterslogos@2x.png" alt="真実のloveletter" width="352px" height="129px">
</div>

<div class="truegaide">
  <img src="/images/treulettergaide@2x.png" alt="真実のloveletter　例文" width="266px" height="1440px">
</div>