<div class="ookamilogo">
  <img src="/images/ookamiletterlogo@2x.png" alt="オオカミのloveletter" width="366px" height="142px">
</div>

<div class="ookamigaide">
  <img src="/images/ookamilettergaide@2x.png" alt="オオカミloveletter　例文" width="258px" height="928px">
</div>