<div class="log-title">
  <img src="/newimages/ookami-finish@2x.png" alt="letterを送信しました" width="292px" height="113px">
</div>

<div class="finish">
  <img src="/newimages/ookami-image@2x.png" alt="他の人にもオオカミのletterを送ってみよう" width="356px" height="277px">
</div>

<div class="homeback">
  <%= link_to choice_path(@user) ,class: 'takebuttonhidden' do %>
    <%= image_tag "/newimages/homebackbutton@2x.png",:size =>"206x58" %>
  <% end %>
</div>