<div class="ask-title">
  <img src="/newimages/new-gaides3@2x.png" alt="ガイドと" width="332px" height="185px">
</div>


<dis class="ask">
  <%= link_to root_path ,class: 'takebuttonhidden' do %>
    <%= image_tag "/newimages/koibumi-start@2x.png",:size =>"210x72" %>
  <% end %>
</dis>