<div class="log-title">
  <img src="/newimages/think-sendfinish@2x.png" alt="〇〇のことどう思う？" width="201px" height="56px">
</div>

<div class="finish">
  <img src="/newimages/recom-image@2x.png" alt="他の人にも聞いてみて" width="360px" height="236px">
</div>

<div class="homeback">
  <%= link_to choice_path(@user) ,class: 'takebuttonhidden' do %>
    <%= image_tag "/newimages/homebackbutton@2x.png",:size =>"206x58" %>
  <% end %>
</div>