<div class="logo">
  <img src="/newimages/ookami-title@2x.png" alt="オオカミloveletter" width="237px" height="79px">
</div>

<div class="logo">
  <img src="/newimages/ookami-title@2x.png" alt="オオカミloveletter" width="237px" height="79px">
</div>

<div class="go-toppage">
  <%= link_to choice_path(@user2) ,class: 'takebuttonhidden' do %>
    <%= image_tag "/newimages/backbutton@2x.png",:size =>"19x33" %>
  <% end %>
</div>