<div class="passwordfinish">
  <img src="newimages/passwordfinish@2x.png" alt="パスワード変更" width="308px" height="236px">
</div>


<dis class="toppage">
  <%= link_to root_path ,class: 'takebuttonhidden' do %>
    <%= image_tag "/newimages/gotoppage@2x.png",:size =>"208x63" %>
  <% end %>
</dis>