<div class="gaide">
  <img src="newimages/new-gaide-account@2x.png" alt="文通するにはアカウントが必要です" width="334px" height="209px">
</div>

<div class="gaide2">
  <img src="newimages/new-gaide-account2@2x.png" alt="ガイド" width="140px" height="103px">
</div>

<dis class="gaidesbutton">
  <%= link_to root_path ,class: 'takebuttonhidden' do %>
    <%= image_tag "/newimages/new-acount-button@2x.png",:size =>"281x65" %>
  <% end %>
</dis>