<div class="ask-title">
  <img src="/newimages/new-gaides1@2x.png" alt="ガイド" width="327px" height="440px">
</div>


<dis class="ask">
  <%= link_to gaide2_index_path ,class: 'takebuttonhidden' do %>
    <%= image_tag "/newimages/askok@3x.png",:size =>"210x72" %>
  <% end %>
</dis>