<div class="log-title">
  <img src="/newimages/trueletter-finish@2x.png" alt="letterを送信しました" width="239px" height="65px">
</div>

<div class="finish">
  <img src="/newimages/trueletter-image@2x.png" alt="他の人にもletterを送ってみよう" width="362px" height="278px">
</div>

<div class="homeback">
  <%= link_to choice_path(@user) ,class: 'takebuttonhidden' do %>
    <%= image_tag "/newimages/homebackbutton@2x.png",:size =>"206x58" %>
  <% end %>
</div>