<p><%= @userlogin.id %></p>

<div class="sendgaide">
  <!--画像を差し替える-->
</div>

<%= link_to takegaide_path(@userlogin) ,class: 'nextbutton' do %>
  <%= image_tag "/images/nextbutton@2x.png",:size =>"152x75" %>
<% end %>