<button class="nabbar">
</button>

<% if logged_in? %>

    <dis class="logouts">
      <%= link_to logout_path, method: :delete, class: 'logout' do %>
        <%= image_tag "/newimages/nab-logout@2x.png",:size =>"83x34" %>
      <% end %>
    </dis>
     
     
   <% else %>
   
   <dis class="logins">
     <%= link_to login_path,  class: 'login' do %>
       <%= image_tag "/newimages/nab-login@2x.png",:size =>"83x34" %>
     <% end %>
   </dis>
     
     
   <% end %>